<% if user_signed_in? %>
        <li><%= link_to 'Meus Projetos', projects_path %></li>
        <li><small>Logado como <%= current_user.email %></small></li>
        <li> <%= button_to 'Sair', destroy_user_session_path, method: :delete %> </li>
<% else %>
        <li>
                <a href=<%= new_user_registration_path%>><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href=<%= new_user_session_path%>><span class="glyphicon glyphicon-log-in"></span> Entrar Sou Usuario</a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-log-in"></span>
                    Entrar
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href=<%= new_user_session_path%>>Sou usuário</a></li>
                    <li><a href=<%= new_professional_session_path %>>Sou FreelancerTech</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-log-in"></span>
                    Inscrever-se
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href=<%= new_user_registration_path%>>Sou Usuário</a></li>
                    <li><a href=<%= new_professional_registration_path %>>Sou FreelancerTech</a></li>
                  </ul>
        </li>
<% end %>
