<% if user_signed_in? %>
        <%= link_to 'Meus Projetos', projects_path, class: "nav-text nav-link none" %>
        <%= link_to 'Novo Projeto', new_project_path, class: "nav-text nav-link none" %>
        <div class="dropdown">
        <button id="b-drop"href="" 
                   class="py-2 px-2 font-medium text-gray-500 rounded hover:bg-blue-600 hover:ring-4 hover:ring-indigo-300 hover:text-white transition duration-300">
                  <%= current_user.email %>
        </button>
        <ul class="dropdown-toggle text-gray-500" id="drop">
          <%= form_with url: destroy_user_session_path, method: :delete do%>
             <li> <%= button_tag "Sair", class: "dropdown-menu-top bg-white border-l-4  hover:border-blue-500" %>
          <% end %>
        </ul>
        </div>
<% end %>
<% if professional_signed_in? %>
        <% if current_professional.profile? %>
                <%= link_to 'Meus Projetos', professional_projects_path(current_professional.profile.name), class:"nav-text nav-link none" %>
        <% end %>
        <div class="dropdown">
        <button id="b-drop"href="" 
                   class="py-2 px-2 font-medium text-gray-500 rounded hover:bg-blue-600 hover:ring-4 hover:ring-indigo-300 hover:text-white transition duration-300">
                <% if current_professional.profile.present? %>
                  <%= current_professional.profile.name %>
                <% else %>
                <%= current_professional.email %>
                <% end %>
        </button>
        <ul class="dropdown-toggle text-gray-500" id="drop">
          <%= form_with url: destroy_professional_session_path, method: :delete do%>
            <li> <%= button_tag "Sair", class: "dropdown-menu-top bg-white border-l-4  hover:border-blue-500" %>
          <% end %>
          <% if current_professional.profile? %>
           <%= link_to "Ver Perfil", profile_path(current_professional.profile.id) %>
          <% end %>
        </ul>
        </div>
<% end %>

<% unless user_signed_in? or professional_signed_in? %>
<div class="dropdown">
        <button id="b-drop"href="" 
                   class="py-2 px-2 font-medium text-gray-500 rounded hover:bg-blue-600 hover:ring-4 hover:ring-indigo-300 hover:text-white transition duration-300">
                  Entrar
        </button>
        <ul class="dropdown-toggle text-gray-500" id="drop">
          <li> <%= link_to "Usuário", new_user_session_path, class: "dropdown-menu-top bg-white border-l-4  hover:border-blue-500" %> </li>
          <li> <%= link_to "FreelancerTech", new_professional_session_path, class: "dropdown-menu-botton bg-white border-l-4  hover:border-blue-500" %> </li>
        </ul>
</div>
<div class="dropdown">
        <button id="b-drop-in"href="" 
                   class="py-2 px-2 font-medium text-white bg-blue-700 rounded hover:bg-blue-600 transition duration-300">
                  Inscreva-se
        </button>
        <ul class="dropdown-toggle text-gray-500" id="drop-in">
          <li> <%= link_to "Novo Usuário", new_user_registration_path, class: "dropdown-menu-top bg-white border-l-4  hover:border-blue-500" %> </li>
          <li> <%= link_to "Novo FreelancerTech", new_professional_registration_path, class: "dropdown-menu-botton bg-white border-l-4  hover:border-blue-500" %> </li>
        </ul>
</div>

<% end %>
