
<div class="container mx-auto">
  <div class="w-full lg:w-7/12 bg-white p-5 rounded-lg lg:rounded-l-none mx-auto">
<% if @project.errors.any? %>
   <ul>
      <% @project.errors.full_messages.each do |error| %>
         <li><%= error %></li>
      <% end %>
   </ul>
<% end %>

<%=form_with model: @project do |p| %>

  <%= p.label :title, "Título", class: "block mb-2 text-sm font-bold text-gray-700" %>
  <%= p.text_field :title, class: "w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" %>

  <%= p.label :description, "Descrição", class: "block mb-2 text-sm font-bold text-gray-700" %>
  <%= p.text_field :description, class: "w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" %>

  <%= p.label :remote, "remoto", class: "block mb-2 text-sm font-bold text-gray-700" %>
  <%= p.check_box :remote, class: "px-3 py-2 text-sm leading-tight border" %>

  <%= p.label :max_price_per_hour, "Custo máximo por hora", class: "block mb-2 text-sm font-bold text-gray-700" %>
  <%= p.number_field :max_price_per_hour, class: "w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" %>

  <%= p.label :deadline_submission, "Receber propostas até:", class: "block mb-2 text-sm font-bold text-gray-700" %>
  <%= p.date_field :deadline_submission, class: "w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" %>

  <%= p.submit "Enviar", class: "w-full px-4 py-2 my-8 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"%>
<% end %>
</div>
</div>
