<div class="container">
 <aside>
   <dl class='row'>
     <dt>Título </dt>
     <dd><%= @project.title %></dd>

     <dt>Descrição</dt>
     <dd><%=  @project.description %></dd>

     <dt>Prazo para submissões</dt>
     <dd><%= @project.deadline_submission %></dd>

     <dt>Preço máximo por hora</dt>
     <dd><%= number_to_currency(@project.max_price_per_hour) %></dd>

     <dt>Remoto</dt>
     <dd><%=  @project.remote ? 'Sim': 'Não' %></dd>

     <dt>Anuciador</dt>
     <dd><%= @project.user.email %></dd>
   </dl>
 </aside> 
 <% if current_professional.present? %> 
    <% if current_professional.proposal.find_by(project_id: @project.id).blank?%>
      <%= render '/shared/form_proposal' %>
    <% else %>
      <nav>
         <%= link_to "Visualizar proposta", proposal_path(current_professional.proposal
                                                                       .find_by(project_id: @project.id)) %>
      </nav>
    <% end %>
 <% end %>
 <% if current_user.present? and 
       current_user.project.exists? @project[:id] %>
    <nav>
       <%= link_to 'Ver Propostas', project_proposals_path(@project) %>
    </nav>
 <% end %>
    <nav>
      <%= link_to "Voltar", root_path %>
    </nav>
</div>
