  
<div class="items-center justify-center w-5/6 mx-auto">
        <div class="max-w-4xl  bg-white w-full rounded-lg mx-auto shadow-lg m-10">
        <div class="p-4 border-b flex">
          <div class="flex-grow">
            <h2 class="text-2xl flex">
                Perfil do projeto
            </h2>
            <p class="text-sm text-gray-500">
                Detalhes e informações. 
            </p>
          </div>
          <% if @project.belongs_to? current_user %>
            <nav class="flex-0 my-auto">
              <%= render ButtonComponent.new(text: "Ver Propostas", path: project_proposals_path(@project)) %>
            </nav>
          <% end %>
        </div>
        <div>
            <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
                <p class="text-gray-600 flex">
                    Título
                </p>
                <p>
                  <%= @project.title %>
                </p>
            </div>
            <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
                <p class="text-gray-600">
                  Descrição
                </p>
                <p>
                  <%= @project.description %>
                </p>
            </div>
            <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
                <p class="text-gray-600">
                    Preço máximo por hora
                </p>
                <p>
                    <%= @project.format_max_price_per_hour %>
                </p>
            </div>
            <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
                <p class="text-gray-600">
                    Remoto
                </p>
                <p>
                  <%= @project.remote ? "Sim" : "Não" %>
                </p>
            </div>
            <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4 border-b">
                <p class="text-gray-600">
                    Prazo para submissões
                </p>
                <p>
                  <%= @project.deadline_submission %>
                </p>
            </div>
            <div class="md:grid md:grid-cols-2 hover:bg-gray-50 md:space-y-0 space-y-1 p-4">
                <p class="text-gray-600">
                    Anuciador
                </p>
                <p>
                  <%= @project.user.email %>
                </p>
            </div>
        </div>
    </div> 
    <% if @project.belongs_to? current_professional %>
      <nav>
        <%= link_to "Visualizar Proposta", proposal_path(current_professional
                                           .proposal_id_of_a @project) %>
     </nav>
    <% elsif current_professional.present? %>
      <%= render '/shared/form_proposal' %>
    <% end %>
    <nav>
      <%= render ButtonComponent.new(text: "Voltar", padding: 2) %>
    </nav>
   </div>

