<aside class="container w-1/2 mx-auto bg-white rounded-lg p-8 shadow-lg my-auto">
  <dt class="font-semibold mt-2">Justificativa</dt>
  <dd class="mx-2"> <%= @proposal.justification %> </dd>

  <dt class="font-semibold mt-2">Preço por hora</dt>
  <dd class="mx-2"> <%= number_to_currency @proposal.price_hour %> </dd>

  <dt class="font-semibold mt-2">Horas por semana</dt>
  <dd class="mx-2"> <%= @proposal.weekly_hour %> </dd>

  <dt class="font-semibold mt-2">Prazo de conclusão</dt>
  <dd class="mx-2"> <%= @proposal.completion_deadline %> dias</dd>

  <dt class="font-semibold mt-2">Solicitante</dt>
  <dd class="mx-2">
      nome: <%= @proposal.professional.profile.name %>  <br>
      email: <%= @proposal.professional.email %> 
  </dd>
  <% unless @proposal.pending?%>
    <dd class="font-semibold mt-2">Status</dd>
    <dt class="mx-2"> <%= Proposal.human_enum_name(:status, @proposal.status) %></dt>
  <% end %>
  <% if @proposal.has_feedback_for? current_professional %>
    <div class="name">
      <h3>Feedback</h3>
     <%= @proposal.feedback %> 
    </div>
  <% end %>
</aside>
